header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

svg {
    height: 6.3em;
    width: 6em;
    stroke: black;
    stroke-width: 1;
    fill: blue;
}

h3#proxyType {
  text-transform: capitalize;
}

hr {
    width: 100%;
}

body > main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

body > main > form > div {
    display: flex;
    flex-direction: column;
}

body > main > form > div > label {
    margin-top: 1em;
}

body > main > form > div > label {
    margin-top: 1em;
}

body > main > form > button {
    margin-top: 1em;
}
